bin/
obj/
.ionide/
.vscode/

*.fs.js
*.fs.js.map
node_modules/
fable_modules/
output/
paket-files/
deploy/

Client/public/internal_add-clubhouse-tablet-cookie.html
Server/data/
Server/import/

deployment/aspnet/app*
docs/
